{% extends "base.html.twig" %}

{% block title %}Création d'une voiture{% endblock %}
{% form_theme form 'voitures/collection.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="mt-3">Création d'une nouvelle voiture</h1>
        {{form_start(form)}}
            <div class="container">
                <div>
                    {{form_widget(form)}}
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Création d'une voiture</button>
        {{form_end(form)}}
    </div>

     
{% endblock %}

{% block javascripts %}
    <script >
    const addImage = document.querySelector('#add_image')
    addImage.addEventListener('click',()=>{
    // compter combien j'ai de form-group pour les indices ex: annonce_image_0_url
    const widgetCounter = document.querySelector("#widgets-counter")
    const index = +widgetCounter.value // le + permet de transofmer en nombre, value rends tjrs un string 
    const annonceImages = document.querySelector('#voiture_images')

    //recup le prototype des entrées data-prototype
    const prototype = annonceImages.dataset.prototype.replace(/__name__/g, index) // drapeau g pour indiquer que l'on va le faire plusieurs fois 

    //injecter le code dans la div
    annonceImages.insertAdjacentHTML('beforeend', prototype)
    widgetCounter.value = index+1

    handleDeleteButtons() // pour mettre à jour le tablea deletes et ajouter l'évent 
})

const updateCounter = () => {
    const count = document.querySelectorAll('#voiture_images div.form-group').length
    document.querySelector('#widgets-counter').value = count
}

const handleDeleteButtons = () => {
    var deletes = document.querySelectorAll("button[data-action='delete']")

    deletes.forEach(button => {
        button.addEventListener('click',()=>{
            const target = button.dataset.target
            const elementTarget = document.querySelector(target)
            if(elementTarget){
                elementTarget.remove() // supprimer l'élément 
            }
        })
    })


}

updateCounter()
handleDeleteButtons()

    </script>
{% endblock %}